.dboard {
    display: block;
    height: 110vh;
    scroll-margin-top: 50px;
}

.dcarousel-inner{
    height: 100%;    
    z-index: 6 !important;
}

.carousel-indicators{
    top: -22px !important;
    z-index: 5 !important;
}

.board {
    color: white;
    transform: scale(1);
    height: fit-content;
    width: 100vw;
}

.mboard {
    display: none;
}

.mboard .row {
    justify-content: space-between;
}

.mboard h1 {
    margin: 0px !important;
    line-height: 1 !important;
}

.mboard .btn:hover {
    color: #0c8a2f;
    background-color: #0e0e0e;
}

.mboard .btn:focus,
.mboard a:focus {
    color: #0c8a2f;
    box-shadow: none;
}

.mboard .btn:active,
.mboard a:active {
    color: #0c8a2f;
    box-shadow: none;
}

.mboard #boardbtn2 {
    color: #0c8a2f;
}

.mboard #boardbtn1,
#boardbtn2{
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-transform: none !important;
    font-variant-caps: small-caps;
    font-family: Mulish;
}

#M-Board21 {
    display: none;
}

#M-Board22 {
    display: block;
}

.boardhead {
    text-align: center;
    color: white;
}

.board p {
    color: white;
}

.board .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.board .newcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.faculty {
    max-height:320px;
}

.faculty-text-box{
    width:800px;
    height: 240px;
    border: solid green;
    padding: 10px 0;
    margin: 40px 20px 0px 20px;
    border-radius:20px;
}

.faculty-text{
    margin: auto 0;
}

.board .container .card {
    width: 200px;
    height: 280px;
    margin: 20px;
    box-shadow: 0px 4px 20px 30px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    border-radius: 10px;
    transform: scale(0.9);
}

.board .container .newcard {
    width: 200px;
    height: 280px;
    margin: 5px;
    box-shadow: 0px 4px 20px 30px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    border-radius: 10px;
    transform: scale(0.9);
}

.board .container .card:hover {
    background-color: #181818;
    transform: scale(1.0);
}

.board .container .newcard:hover{
    background-color: #181818;
    transform: scale(1.0);
}

.board .container .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
}

.board .container .card .content .imgBx {
    width: 160px;
    height: 150px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.board .container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.board .container .card .content .contentBx p {
    color: white;
    opacity: 1;
    font-size: 18px;
    margin: 0px;
    text-align: center;
    letter-spacing: 1px;
}

.board .container .card .content .contentBx i p {
    font-size: small;
}

.board .container .card .content .contentBx h5 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.board .container .card .content .sci {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .container .card .content .sci a {
    text-decoration: none;
    color: #59ba74;
    opacity: 1;
    font-size: 4px;
    margin: 0px;
    transition: color 0.4s;
}

.board .container .card:hover .content {
    color: #59ba74;
    opacity: 1;
    transform: translateY(-20px);
    margin-top: 40px;
}

.board .container .card:hover {
    opacity: 1;
}

.board .container .card .sci li {
    color: #59ba74;
    list-style: none;
    margin: 0 6px;
    padding: 0px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.board .container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
    color: #59ba74;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .container .card:hover .sci {
    transform: translateY(0px);
    opacity: 1;
    color: #59ba74;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .container .card .sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .container .card .sci li a i {
    font-size: 20px;
    line-height: 5px;
    color: #59ba74;
}

/*.container .card .sci li:nth-child(2):hover {
    background: black;
}

.container .card .sci li:nth-child(1):hover {
    background: black;
}


/*.container .card .sci li:nth-child(3):hover
{
   background:#1DA1F2;
}*/

.board .container .card .sci li:nth-child(1) {
    padding-left: 5px;
}

.board .container .card .sci li:nth-child(2) {
    padding-left: 2px;
}

.board .container .card .sci li:nth-child(3) {
    padding-left: 1.5px;
}

/*.container .card .sci li:nth-child(3):hover {
    background: black;
}

.container .card .sci li:nth-child(4):hover {
    background: black;
}*/

@media (max-width: 575px) {
    .dboard {
        margin-top: 0;
        height: 100vh;
        display: none !important;        
        /* height: fit-content; */
    }
    .board .websiteheading {
        margin: 0px;
        margin-top: 45%;
    }
    .mboard {
        display: block;        
        transform: scale(0.8);
    }
    .board .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .board .container .card .content .imgBx {
        width: 230px;
        height: 220px;
    }
    .board .container .card {
        width: 280px;
        height: 370px;
    }
    .board .container .card .content .contentBx p {
        font-size: 24px;
    }
    .board .container .card .content .contentBx i p {
        font-size: initial;
    }
    .board .container .card .content .contentBx p {
        font-size: 24px;
    }
    .board .container .card .content .contentBx i p {
        font-size: initial;
    }
    .board .container777 h1 {
        writing-mode: vertical-lr;
    }
    .dboard .dcarousel-inner {
        overflow-y: visible !important;
    }
    .faculty {
        max-height: none;
    }
    .facultycard{
        transform: scale(0.8) !important;
    }
    .facultycard:hover{
        transform: scale(0.9) !important;
    }
    .faculty-text-box{
        width: 300px;
        margin: 0px 20px;
        padding: 10px;
        height: auto;
    }
    .faculty-text h4 {
        font-size: 20px !important;
        margin: 15px 0px;
    }
}

.mboard .swiper {
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
}

.mboard .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mboard .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color, #fff) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px !important;
    margin-top: 30px !important;
}

.swiper-pagination {
    position: relative !important;
}

:root {
    --swiper-theme-color: white !important;
}
