.event_container {
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}

.event_head {
    margin: auto 0;
    text-align: center;
}

.event_head .mheading {
    color: #fffdfd;
    font-style: normal;
    font-family: "Mulish", sans-serif;
    position: relative;
    font-size: 3rem;
    font-weight: 900;
}

.event_head .nheading {
    color: #0c8a2f;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    position: relative;
}

.event_right_container {
    color: white;
    margin: auto 0 auto 5%;
    text-align: center;
    position: relative;
}

.li_event {
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.li_event span {
    display: block;
    font-size: 2.8rem;
}

.event_container h1 {
    color: #0c8a2f;


}

.button-box {
    display: flex;
    justify-content: space-evenly;
}

.event_btn {
    text-align: right;
    position: relative;
}

.latest_btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 3px solid #0c8a2f;
    border-radius: 0.4em;
    padding: 8px;
    width: 200px;
    font-size: 1.9rem;
    font-weight: 900;
    margin: 20px;
    color: #0c8a2f;
}

.event_btn1 {
    text-align: right;
    position: relative;
}

.close {
    color: #0C8A2F;
}

.modal {
    padding: 0px !important;
}

.show {
    display: -webkit-box !important;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
}

.modal .icon-container {
    width: 99%;
    text-align: center;
}
/* 
.modal-header {
    padding: 0rem;
    padding-top: 1rem !important;
} */

.modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px;
}

.modal-dialog {
    margin: auto;
}

.modal-body {
    padding-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
    margin-right: 1rem;

}

.sizze {
    padding-top: 1rem;
    width: 120px;
    height: 120px;
}

.modal-header {
    border-bottom: none;
    position: relative;
}

.modal-content {
    background-color: #0E0E0E;
    border: solid 2px darkgreen;
    box-shadow: 0px 0px 20px darkgreen;
}


@media screen and (max-width: 576px) {
    .event_container {
        margin-top: 80%;
        display: block;
    }

    .event_head .mheading {
        color: #fffdfd;
        font-style: normal;
        font-family: "Mulish", sans-serif;
        position: relative;
        font-size: 2rem;
        font-weight: 900;
    }

    .event_head .nheading {
        color: #0c8a2f;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: "Mulish", sans-serif;
        position: relative;
    }

    .event_right_container {
        color: white;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    #countdown ul {
        padding-left: 0px !important;
    }

    .li_event {
        display: inline-block;
        font-size: 0.8em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
    }

    .li_event span {
        display: block;
        font-size: 1.5rem;
    }

    .button-box {
        text-align: center;
        justify-content: space-evenly;
    }

    .event_btn {
        position: relative;
        text-align: left;
    }

    .latest_btn {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid #0c8a2f;
        border-radius: 0.4em;
        padding: 8px;
        width: 120px;
        font-size: 1rem;
        margin: 20px;
        color: #0c8a2f;
    }

    .discord {
        box-sizing: border-box;
        background-color: #0c8a2f;
        border: 2px solid #0c8a2f;
        border-radius: 0.4em;
        padding: 8px;
        width: 120px;
        font-size: 1rem;
        margin: 20px;
        color: black;
    }

    .event_btn1 {
        text-align: right;
        position: relative;
    }

    .modal-body .center-heading h1 {
        font-size: 1.3rem !important;
        font-weight: 900 !important;
    }

    .modal-body .center-heading h4 {
        font-size: 1.1rem !important;
    }

    .modal-body .center-heading h5 {
        font-size: 0.7rem !important;
    }

    .modal-body .center-heading p {
        font-size: 1.1rem !important;
    }
    .mmodal-dialog{
        width: 90% !important;
    }
}