{% load static %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="scroll-section blogs" id="Blogs">
    <div class="blogheading">
        <div class="blogtitle websiteheading">BLOGS</div>
        <div class="blogpara">
            <p>Blogs are meant to share, connect and inspire people. IEEE-IAS VIT publishes blogs regarding a variety of topics having a common key i.e. the impact technology has had on it.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center position-relative blogmain">
        <section class="container circle-container">
            <div class="row align-items-center">
                <div class="holderCircle">
                    <div class="round"></div>
                    <div class="dotCircle">
                        <span class="itemDot active itemDot1" data-tab="1">
                            <img class="blogimages" src="/media/{{ blog1.blog_image }}" />
                        </span>
                        <span class="itemDot itemDot2" data-tab="2">
                            <img class="blogimages" src="/media/{{ blog2.blog_image }}" />
                        </span>
                        <span class="itemDot itemDot3" data-tab="3">
                            <img class="blogimages" src="/media/{{ blog3.blog_image }}" />
                        </span>
                        <span class="itemDot itemDot4" data-tab="4">
                            <img class="blogimages" src="/media/{{ blog4.blog_image }}" />
                        </span>
                        <span class="itemDot itemDot5" data-tab="5">
                            <img class="blogimages" src="/media/{{ blog5.blog_image }}" />
                        </span>
                        <span class="itemDot itemDot6" data-tab="6">
                            <img class="blogimages" src="/media/{{ blog6.blog_image }}" />
                        </span>
                    </div>
                    <div class="contentCircle">
                        <div class="CirItem title-box active CirItem1">
                            <h4 class="title"><a href="{% url 'blog_redirect' the_slug=blog1.slug %}" target="_blank" class="blog_title_link">{{ blog1.title }}</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem2">
                            <h4 class="title"><a href="{% url 'blog_redirect' the_slug=blog2.slug %}" target="_blank" class="blog_title_link">{{ blog2.title }}</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem3">
                            <h4 class="title"><a href="{% url 'blog_redirect' the_slug=blog3.slug %}" target="_blank" class="blog_title_link">{{ blog3.title }}</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem4">
                            <h4 class="title"><a href="{% url 'blog_redirect' the_slug=blog4.slug %}" target="_blank" class="blog_title_link">{{ blog4.title }}</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem5">
                            <h4 class="title"><a href="{% url 'blog_redirect' the_slug=blog5.slug %}" target="_blank" class="blog_title_link">{{ blog5.title }}</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem6">
                            <h4 class="title"><a href="{% url 'blog_redirect' the_slug=blog6.slug %}" target="_blank" class="blog_title_link">{{ blog6.title }}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container image-container align-items-center">
            <div class="container ImgItem active ImgItem1">
                <a href="{% url 'blog_redirect' the_slug=blog1.slug %}" target="_blank"><img src="/media/{{ blog1.blog_image }}" /></a>
            </div>
            <div class="container ImgItem ImgItem2">
                <a href="{% url 'blog_redirect' the_slug=blog2.slug %}" target="_blank"><img src="/media/{{ blog2.blog_image }}" /></a>
            </div>
            <div class="container ImgItem ImgItem3">
                <a href="{% url 'blog_redirect' the_slug=blog3.slug %}" target="_blank"><img src="/media/{{ blog3.blog_image }}" /></a>
            </div>
            <div class="container ImgItem ImgItem4">
                <a href="{% url 'blog_redirect' the_slug=blog4.slug %}" target="_blank"><img src="/media/{{ blog4.blog_image }}" /></a>
            </div>
            <div class="container ImgItem ImgItem5">
                <a href="{% url 'blog_redirect' the_slug=blog5.slug %}" target="_blank"><img src="/media/{{ blog5.blog_image }}" /></a>
            </div>
            <div class="container ImgItem ImgItem6">
                <a href="{% url 'blog_redirect' the_slug=blog6.slug %}" target="_blank"><img src="/media/{{ blog6.blog_image }}" /></a>
            </div>
        </section>
    </div>
</div>
<script src="{% static 'js/blogs.js' %}"></script>