{% load static %}

<div class="scroll-section blogs" id="Blogs">
    <div class="blogheading">
        <div class="blogtitle websiteheading">BLOGS</div>
        <div class="blogpara">
            <p>Blogs are meant to share, connect and inspire people. IEEE-IAS VIT publishes blogs regarding a variety of topics having a common key i.e. the impact technology has had on it.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center position-relative blogmain">
        <section class="container circle-container">
            <div class="row align-items-center">
                <div class="holderCircle">
                    <div class="round"></div>
                    <div class="dotCircle">
                        <span class="itemDot active itemDot1" data-tab="1">
                            <img class="blogimages" src="{% static 'images/blogs/Blog1.jpg' %}" />
                        </span>
                        <span class="itemDot itemDot2" data-tab="2">
                            <img class="blogimages" src="{% static 'images/blogs/Blog2.jpg' %}" />
                        </span>
                        <span class="itemDot itemDot3" data-tab="3">
                            <img class="blogimages" src="{% static 'images/blogs/Blog3.jpg' %}" />
                        </span>
                        <span class="itemDot itemDot4" data-tab="4">
                            <img class="blogimages" src="{% static 'images/blogs/Blog4.jpg' %}" />
                        </span>
                        <span class="itemDot itemDot5" data-tab="5">
                            <img class="blogimages" src="{% static 'images/blogs/Blog2.jpg' %}" />
                        </span>
                        <span class="itemDot itemDot6" data-tab="6">
                            <img class="blogimages" src="{% static 'images/blogs/Blog3.jpg' %}" />
                        </span>
                    </div>
                    <div class="contentCircle">
                        <div class="CirItem title-box active CirItem1">
                            <h4 class="title"><a href="https://tinyurl.com/ieeeiasvitmedium" target="_blank" class="blog_title_link">Technology Trends and its Future Perspective</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem2">
                            <h4 class="title"><a href="https://bit.ly/3CrHmYk" target="_blank" class="blog_title_link">Is the bonanza of Cryptocurrency bringing distress?</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem3">
                            <h4 class="title"><a href="https://tinyurl.com/IEEEIASVIT-Mediumblog" target="_blank" class="blog_title_link">MinionLabs — creator of world’s smallest energy auditor</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem4">
                            <h4 class="title"><a href="https://tinyurl.com/ieeeiasmedium-blogIoT" target="_blank" class="blog_title_link">IoT : The future of this Technological era?</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem5">
                            <h4 class="title"><a href="https://bit.ly/3CrHmYk" target="_blank" class="blog_title_link">Is the bonanza of Cryptocurrency bringing distress?</a></h4>
                        </div>
                        <div class="CirItem title-box CirItem6">
                            <h4 class="title"><a href="https://tinyurl.com/IEEEIASVIT-Mediumblog" target="_blank" class="blog_title_link">MinionLabs — creator of world’s smallest energy auditor</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container image-container align-items-center">
            <div class="container ImgItem active ImgItem1">
                <a href="https://tinyurl.com/ieeeiasvitmedium" target="_blank"><img src="{% static 'images/blogs/Blog1.jpg' %}" /></a>
            </div>
            <div class="container ImgItem ImgItem2">
                <a href="https://bit.ly/3CrHmYk" target="_blank"><img src="{% static 'images/blogs/Blog2.jpg' %}" /></a>
            </div>
            <div class="container ImgItem ImgItem3">
                <a href="https://tinyurl.com/IEEEIASVIT-Mediumblog" target="_blank"><img src="{% static 'images/blogs/Blog3.jpg' %}" /></a>
            </div>
            <div class="container ImgItem ImgItem4">
                <a href="https://tinyurl.com/ieeeiasmedium-blogIoT" target="_blank"><img src="{% static 'images/blogs/Blog4.jpg' %}" /></a>
            </div>
            <div class="container ImgItem ImgItem5">
                <a href="https://bit.ly/3CrHmYk" target="_blank"><img src="{% static 'images/blogs/Blog2.jpg' %}" /></a>
            </div>
            <div class="container ImgItem ImgItem6">
                <a href="https://tinyurl.com/IEEEIASVIT-Mediumblog" target="_blank"><img src="{% static 'images/blogs/Blog3.jpg' %}" /></a>
            </div>
        </section>
    </div>
</div>