{% load static %}

<div class="board d-block" id="Team">
    <div class="boardhead">
        <h2 class="websiteheading">THE TEAM</h2>
    </div>
    <div class="container" style="max-height:320px">
        <div class="card">
            <div class="content">
                <div class="imgBx"><img src="{% static 'images/board/Faculty Coordinator.jpg' %}" alt="" /></div>
                <div class="contentBx">
                    <p>Indhiragandhi V</p>
                    <i>
                        <p>Faculty Co-ordinator</p>
                    </i>
                </div>
                <div class="sci" >
                    <li style="--i:1">
                        <a href="https://www.linkedin.com/in/v-indragandhi-teacher-a874131b2" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="mailto:indragandhi.v@vit.ac.in" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </li>
                </div>
            </div>
        </div>
        <div class="faculty">
            <div class="faculty-text">
                <h4 class="text-center" style="text-transform: none;">School of Electrical Engineering, Dept. of Energy & Power Electronics.</h4>
                <h4 class="text-center" style="text-transform: none;">IEEE-IAS Student Chapter -Faculty Co-ordinator- VIT.</h4>
                <h4 class="text-center" style="text-transform: none;">VIT, Vellore -632014. Tamilnadu, India.</h4>
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="scroll-section carousel slide dboard" data-ride="carousel" >
    <!-- Carousal Indicator -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner dcarousel-inner">
        <div class="carousel-item active">
            <div class="board d-block">
                <div class="boardhead">
                    <h3 style="text-align: center;">2021-22</h3>
                </div>
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Nupoor Raj.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Nupoor Raj</p>
                                <i><p>Chairperson</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/__nupoorraj__?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/112002" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.facebook.com/nupoor.raj.77/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://www.linkedin.com/in/nupoorraj/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Fatema Malik.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Fatema Malik</p>
                                <i><p>Vice-Chairperson</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i:1"><a href="mailto:fatema.malik2019@vitstudent.ac.in" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                <!-- Other Social Media Handles -->
                                <!-- <li style="--i:2"><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li style="--i:3"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li style="--i:4"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Yash Agarwal.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Yash Agarwal</p>
                                <i><p>General Secretary</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/yash_ag.23/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Eradicate-2000" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/yash-a-785b9a93/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Davya Vuyyuru.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Davya Vuyyuru</p>
                                <i><p>Co-Secretary</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/vdavya/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="http://linkedin.com/in/davya-vuyyuru-355032105" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Amisha Rathore.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Amisha Rathore</p>
                                <i><p>Events Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/amisha_ratho31?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://www.facebook.com/amisha.rathore.3152" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/amisha-rathore-127573192/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Raunak Shukla.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Raunak Shukla</p>
                                <i><p>Creative Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/raunak17_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Raunak017" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/raunak-shukla-72b293206/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://medium.com/@raunakshukla17" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Harshita Suresh.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Harshita Suresh</p>
                                <i><p>Technical Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/flibbertigibbet._.erudite/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/hersheyyta" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/harshita-suresh/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://twitter.com/Harshita1312" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Hem Prasath.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Hem Prasath</p>
                                <i><p>Editorial Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/hem.prasath11?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Hem-1421" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.facebook.com/hem.prasath" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://www.linkedin.com/in/hem-prasath-k-98528918b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Jaydev Jangiti.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Jaydev Jangiti</p>
                                <i><p>Publicity Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/jayy._.10/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Jayy109" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/jaydev-jangiti-2a609a190" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Tanay Shukla.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Tanay Shukla</p>
                                <i><p>Finance Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/tshukla_2001/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/tshukla2001"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/tanay-shukla-569a03190/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="board d-block">
                <div class="boardhead">
                    <h3 style="text-align: center;">2022-23</h3>
                </div>
                <div class="container newcontainer">
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Shreya Agrawal.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Shreya Agrawal</p>
                                <i><p>Chairperson</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/__nupoorraj__?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/112002" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.facebook.com/nupoor.raj.77/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://www.linkedin.com/in/nupoorraj/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Shubh Mittal.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Shubh Mittal</p>
                                <i><p>Vice-Chairperson</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i:1"><a href="mailto:fatema.malik2019@vitstudent.ac.in" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                <!-- Other Social Media Handles -->
                                <!-- <li style="--i:2"><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li style="--i:3"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li style="--i:4"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Tejaswini Sudhakar.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Tejaswini Sudhakar</p>
                                <i><p>Secretary & HR</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/yash_ag.23/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Eradicate-2000" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/yash-a-785b9a93/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Ekansh Agrawal.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Ekansh Agrawal</p>
                                <i><p>Co-Secretary</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/vdavya/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="http://linkedin.com/in/davya-vuyyuru-355032105" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Ankit Kumar.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Ankit Kumar</p>
                                <i><p>Media Head</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/amisha_ratho31?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://www.facebook.com/amisha.rathore.3152" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/amisha-rathore-127573192/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Preet Raval.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Preet Raval</p>
                                <i><p>Design Head</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/raunak17_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Raunak017" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/raunak-shukla-72b293206/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://medium.com/@raunakshukla17" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Pakhi Singh.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Pakhi Singh</p>
                                <i><p>Technical Head</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/flibbertigibbet._.erudite/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/hersheyyta" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/harshita-suresh/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://twitter.com/Harshita1312" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Harshit Gupta.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Harshit Gupta</p>
                                <i><p>Editorial Head</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/hem.prasath11?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Hem-1421" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.facebook.com/hem.prasath" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://www.linkedin.com/in/hem-prasath-k-98528918b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Vishnu A.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Vishnu A</p>
                                <i><p>Publicity Head</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/jayy._.10/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Jayy109" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/jaydev-jangiti-2a609a190" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Aditya Toshniwal.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Aditya Toshniwal</p>
                                <i><p>Finance Head</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/tshukla_2001/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/tshukla2001"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/tanay-shukla-569a03190/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Sai Harsha Varma.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Sai Harsha Varma</p>
                                <i><p>CS Lead</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/tshukla_2001/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/tshukla2001"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/tanay-shukla-569a03190/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card newcard">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Gautam Karthik.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Gautam Karthik</p>
                                <i><p>Electrical Lead</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/tshukla_2001/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/tshukla2001"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/tanay-shukla-569a03190/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="swiper mySwiper mboard" id="M-Board">
    <div class="boardhead">
        <h3 style="text-align: center;">2021-22</h3>
    </div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="board">
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Nupoor Raj.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Nupoor Raj</p>
                                <i><p>Chairperson</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/__nupoorraj__?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/112002" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.facebook.com/nupoor.raj.77/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://www.linkedin.com/in/nupoorraj/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Fatema Malik.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Fatema Malik</p>
                                <i><p>Vice-Chairperson</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i:1"><a href="mailto:fatema.malik2019@vitstudent.ac.in" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                <!-- Other Social Media Handles -->
                                <!-- <li style="--i:2"><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li style="--i:3"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li style="--i:4"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="board">
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Yash Agarwal.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Yash Agarwal</p>
                                <i><p>General Secretary</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/yash_ag.23/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Eradicate-2000" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/yash-a-785b9a93/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Davya Vuyyuru.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Davya Vuyyuru</p>
                                <i><p>Co-Secretary</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/vdavya/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="http://linkedin.com/in/davya-vuyyuru-355032105" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="board">
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Amisha Rathore.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Amisha Rathore</p>
                                <i><p>Events Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/amisha_ratho31?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://www.facebook.com/amisha.rathore.3152" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/amisha-rathore-127573192/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Raunak Shukla.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Raunak Shukla</p>
                                <i><p>Creative Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/raunak17_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Raunak017" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/raunak-shukla-72b293206/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>                                    
                                <li style="--i: 4;">
                                    <a href="https://medium.com/@raunakshukla17" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="board">
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Harshita Suresh.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Harshita Suresh</p>
                                <i><p>Technical Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/flibbertigibbet._.erudite/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/hersheyyta" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/harshita-suresh/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://twitter.com/Harshita1312" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Hem Prasath.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Hem Prasath</p>
                                <i><p>Editorial Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://instagram.com/hem.prasath11?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Hem-1421" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.facebook.com/hem.prasath" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 4;">
                                    <a href="https://www.linkedin.com/in/hem-prasath-k-98528918b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="board">
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Jaydev Jangiti.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Jaydev Jangiti</p>
                                <i><p>Publicity Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/jayy._.10/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/Jayy109" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/jaydev-jangiti-2a609a190" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="imgBx"><img src="{% static 'images/board/Tanay Shukla.jpg' %}" alt="" /></div>
                            <div class="contentBx">
                                <p>Tanay Shukla</p>
                                <i><p>Finance Chair</p></i>
                            </div>
                            <div class="sci">
                                <li style="--i: 1;">
                                    <a href="https://www.instagram.com/tshukla_2001/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 2;">
                                    <a href="https://github.com/tshukla2001"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                                <li style="--i: 3;">
                                    <a href="https://www.linkedin.com/in/tanay-shukla-569a03190/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 300
        });
    
        $('.carousel').carousel('cycle');
    });
</script> 