{% load static %}

<div class="scroll-section domain" id="Domain">
    <div id="content-desktop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="websiteheading">DOMAINS</h2>
                </div>
                <div class="col-4 col-sm-12 col-md-8 row">
                    <div class="col-md-4 col-sm-12">
                        <div class="tech">
                            <img id="img1" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                            <img onmouseover="rotateAnimation('img1', 20)" onmouseout="stoprotate()"
                                onclick="store_n(1); checkForChanges()" src="{% static 'images/domain/technical.png' %}"
                                alt="" type="button" button class="btn btn-primary img2" data-toggle="modal"
                                data-target="#exampleModal1" />
                            <h3 id="text">Technical</h3>
                        </div>
                        <div class="tech">
                            <img id="im" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                            <img onmouseover="rotateAnimation('im', 20)" onmouseout="stoprotate()"
                                onclick="store_n(2); checkForChanges()" src="{% static 'images/domain/uiux.png' %}"
                                alt="" type="button" button class="btn btn-primary i2" data-toggle="modal"
                                data-target="#exampleModal2" />
                            <h3 id="text">UI/UX</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="tech">
                            <img id="im1" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                            <img onmouseover="rotateAnimation('im1', 20)" onmouseout="stoprotate()"
                                onclick="store_n(3); checkForChanges()" src="{% static 'images/domain/finance.png' %}"
                                alt="" type="button" button class="btn btn-primary i1" data-toggle="modal"
                                data-target="#exampleModal3" />
                            <h3 id="text">Finance</h3>
                        </div>
                        <div class="tech">
                            <img id="im2" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                            <img onmouseover="rotateAnimation('im2', 20)" onmouseout="stoprotate()"
                                onclick="store_n(4); checkForChanges()" src="{% static 'images/domain/pnm.png' %}"
                                style="padding: 0 10px;" alt="" type="button" button class="btn btn-primary img2"
                                data-toggle="modal" data-target="#exampleModal4" />
                            <h3 id="text">PnM</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="tech">
                            <img id="im3" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                            <img onmouseover="rotateAnimation('im3', 20)" onmouseout="stoprotate()"
                                onclick="store_n(5); checkForChanges()" src="{% static 'images/domain/design.png' %}"
                                alt="" type="button" button class="btn btn-primary i4" data-toggle="modal"
                                data-target="#exampleModal5" />
                            <h3 id="text">Design</h3>
                        </div>
                        <div class="tech">
                            <img id="im4" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                            <img id="imgD" onmouseover="rotateAnimation('im4', 20)" onmouseout="stoprotate()"
                                onclick="store_n(6); checkForChanges()" src="{% static 'images/domain/editorial.png' %}"
                                alt="" type="button" button class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal6" />
                            <h3 id="text">Editorial</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 1-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content green-border" id="mc-1" style="width: 100%;">
                <div class="modal-header">
                    <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel"
                            src="{% static 'images/domain/Group 136.svg' %}" alt="#" /></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"
                        onclick="RestoreScroll()"><span class="character-entity"
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="center-heading">
                        <h3>TECHNICAL</h3>
                    </div>
                    <p>
                        IEEE-IAS is a great platform for students to hone their Technical, Leadership skills & gain
                        experience in organizing events and where holistic development takes place. Our chapter work on
                        several important
                        domains.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content green-border" id="mc-2" style="width: 100%;">
                <div class="modal-header">
                    <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel"
                            src="{% static 'images/domain/Group 139.svg' %}" alt="#" /></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"
                        onclick="RestoreScroll()"><span class="character-entity"
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="center-heading">
                        <h3>UI/UX</h3>
                    </div>
                    <p>Art is the epitome of expression, visual designers are responsible for the look and feel of a
                        physical or digital product. This includes everything from packaging to web design.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content green-border" id="mc-3" style="width: 100%;">
                <div class="modal-header">
                    <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel"
                            src="{% static 'images/domain/Group 138.svg' %}" alt="#" /></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"
                        onclick="RestoreScroll()"><span class="character-entity"
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="center-heading">
                        <h3>FINANCE</h3>
                    </div>
                    <p>Finance without strategy is just numbers and strategy without finance is just dreaming. The team
                        enhances the reliability factor of our events through various domains like sponsorship etc.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4 -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content green-border" id="mc-4" style="width: 100%;">
                <div class="modal-header">
                    <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel"
                            src="{% static 'images/domain/Group 140.svg' %}" alt="#" /></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"
                        onclick="RestoreScroll()"><span class="character-entity"
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="center-heading">
                        <h3>PNM</h3>
                    </div>
                    <p>
                        Expression through influencing and publicity; Publicity and Marketing team has the influencer
                        inside themselves. Great things are never done by one person. They're done by a team, such as
                        the Management Team.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5 -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content green-border" id="mc-5" style="width: 100%;">
                <div class="modal-header">
                    <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel"
                            src="{% static 'images/domain/Group 141.svg' %}" alt="#" /></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"
                        onclick="RestoreScroll()"><span class="character-entity"
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="center-heading">
                        <h3>DESIGN</h3>
                    </div>
                    <p>Creative minds come together and produce startling posters and videos. Their artistic
                        contributions will make our projects more intellectual and colourful.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6 -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content green-border" id="mc-6" style="width: 100%;">
                <div class="modal-header">
                    <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel"
                            src="{% static 'images/domain/Group 142.svg' %}" alt="#" /></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"
                        onclick="RestoreScroll()"><span class="character-entity"
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="center-heading">
                        <h3>EDITORIAL</h3>
                    </div>
                    <p>The one-stop place to put our pen down and creativity up. This domain is the back of the weekly
                        blogs, DYK’s, Newsletters and many more. It’s the saving grace in true essence.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="content-mobile">
        <div class="container">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <h2 class="websiteheading">DOMAINS</h2>
                </div>
                <div class="tech col-6 col-md-4">
                    <img id="mimg1" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                    <img onclick="rotateAnimation('mimg1', 20); store_n(1); checkForChanges()" onmouseout="stoprotate()"
                        src="{% static 'images/domain/technical.png' %}" alt="" type="button" button
                        class="btn btn-primary mimg2" data-toggle="modal" data-target="#exampleModal1" />
                    <h3 id="text">Technical</h3>
                </div>
                <div class="tech col-6 col-md-4">
                    <img id="mim" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                    <img onclick="rotateAnimation('mim', 20); store_n(2); checkForChanges()" onmouseout="stoprotate()"
                        src="{% static 'images/domain/uiux.png' %}" alt="" type="button" button
                        class="btn btn-primary mi2" data-toggle="modal" data-target="#exampleModal2" />
                    <h3 id="text">UI/UX</h3>
                </div>
                <div class="tech col-6 col-md-4">
                    <img id="mim1" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                    <img onclick="rotateAnimation('mim1', 20); store_n(3); checkForChanges()" onmouseout="stoprotate()"
                        src="{% static 'images/domain/finance.png' %}" alt="" type="button" button
                        class="btn btn-primary mi1" data-toggle="modal" data-target="#exampleModal3" />
                    <h3 id="text">Finance</h3>
                </div>
                <div class="tech col-6 col-md-4">
                    <img id="mim2" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                    <img onclick="rotateAnimation('mim2', 20); store_n(4); checkForChanges()" onmouseout="stoprotate()"
                        src="{% static 'images/domain/pnm.png' %}" style="padding: 0 10px;" alt="" type="button" button
                        class="btn btn-primary mimg2" data-toggle="modal" data-target="#exampleModal4" />
                    <h3 id="text">PnM</h3>
                </div>
                <div class="tech col-6 col-md-4">
                    <img id="mim3" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                    <img onclick="rotateAnimation('mim3', 20); store_n(5); checkForChanges()" onmouseout="stoprotate()"
                        src="{% static 'images/domain/design.png' %}" alt="" type="button" button
                        class="btn btn-primary mi4" data-toggle="modal" data-target="#exampleModal5" />
                    <h3 id="text">Design</h3>
                </div>
                <div class="tech col-6 col-md-4">
                    <img id="mim4" class="rotate" src="{% static 'images/domain/Ellipse 4 (1).png' %}" />
                    <img id="mimgD" onclick="rotateAnimation('mim4', 20); store_n(6); checkForChanges()"
                        onmouseout="stoprotate()" src="{% static 'images/domain/editorial.png' %}" alt="" type="button"
                        button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal6" />
                    <h3 id="text">Editorial</h3>
                </div>
            </div>
        </div>
    </div>
</div>