{% load static %}

<div class="home">
    <div class="title">
        <h1 class="mheading">IEEE Industry Applications</h1>
        <h1 class="mheading1">Society</h1>
    </div>
    <br />
    <div class="title2">
        <h2>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Your Potential, our Passion ","Linking Research to Practice" ]'>
                <span class="wrap"></span>
            </a>
        </h2>
    </div>

    <div class="vimage">
        <img src="{% static 'images/homepage/Group1.png' %}" alt="" />
    </div>
    <div class="gear">
        <div class="gearmoving">
            <div class="gear-container">
                <ul class="center-circle">
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                </ul>
                <div class="ring"></div>
            </div>
            <div class="gear-container2">
                <ul class="center-circle2">
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                </ul>
                <div class="ring2"></div>
            </div>
            <div class="gear-container3">
                <ul class="center-circle3">
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                    <li class="tooth"></li>
                </ul>
                <div class="ring3"></div>
            </div>
        </div>
    </div>
</div>
