{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />

    <!-- SEO Tags -->
    <title>IEEE Industry Applications Society - VIT</title>
    <meta name="description"
        content="IEEE-IAS is an eminent technical chapter at VIT. The chapter's vision lies in linking research to practice to bring about a new industrial revolution amongst the students." />
    <meta name="keywords"
        content="IEEE IAS, VIT, Vellore Institute of Technology, Vellore, Events, Blogs, Board, Linking, Research, Practice" />
    <meta name="robots" content="index, follow" />


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css" />
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/latestevents.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/ccsresults.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}" />
    <link rel="stylesheet" href="{% static 'css/domain.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
    <link rel="stylesheet" href="{% static 'css/events.css' %}" />
    <link rel="stylesheet" href="{% static 'css/board.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
</head>

<body id="body">
    <!-- Preloader -->
    {% include "preloader.html" %}
    <!-- Preloader Ending -->

    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Navbar Ending -->

    <!-- Landing Page -->
    {% include "home.html" %}
    <!-- Landing Page Ending -->

    <!-- Latest Event Page -->
    {% include "latestevents.html" %}
    <!-- Latest Event Page Ending -->

    <!-- About us Page -->
    {% include "aboutus.html" %}
    <!-- About us Page Ending -->

    <!-- Domain Page -->
    {% include "domain.html" %}
    <!-- Domain Page Ending -->

    <!-- Blogs Page -->
    {% include "blogs.html" %}
    <!-- Blogs Page Ending -->

    <!-- Events Page -->
    {% include "events.html" %}
    <!-- Events Page Ending -->

    <!-- Board Page  -->
    {% include "board.html" %}
    <!-- Board Page Ending -->

    <!-- Contact us Page -->
    {% include "contactus.html" %}
    <!-- Contact us Page Ending -->

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- Footer Ending -->

    <!-- Homescroll button -->
    <a href="#" class="position-fixed bottom-0 end-0 p-3 scrollupbtn" id="scrollupbtn"><i
            class="bi bi-arrow-up-circle-fill h2"></i></a>
    <!-- Homescroll button Ending -->

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        if (screen.width <= 430) {
            var swiper = new Swiper(".mySwiper", {
                spaceBetween: 30,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        }
    </script>
    <script>
        $("html, body").animate(
            {
                scrollTop: 0,
            },
            0
        );
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://use.typekit.net/xrn0ect.js"></script>
    <script>
        try {
            Typekit.load({
                async: true,
            });
        } catch (e) { }
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/152635/ThrowPropsPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/utils/Draggable.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/152635/CSSPlugin.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/152635/codepen-ga.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{% static 'js/preloader.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script src="{% static 'js/latestevents.js' %}"></script>
    <script src="{% static 'js/aboutus.js' %}"></script>
    <script src="{% static 'js/domain.js' %}"></script>
    <script src="{% static 'js/blogs.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script src="{% static 'js/board.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="{% static 'js/contact.js' %}"></script>
</body>

</html>