{% load static %}

<div class="container event_container" id="event_container">
  <div class="event_head">
    <!-- <h1 class="mheading">
      <img class="conference-image" src="{% static 'images/conference/sense workshop.jpg' %}">
    </h1> -->
    <div class="partial_container">
      <div class="partial_wrapper">
        <div class="image_box"><img src="{% static 'images/conference/sense workshop.jpg' %}" alt="monstera"></div>
      </div>
    </div>
  </div>
  <div class="event_right_container">
    <div class="event_head">
      <h1 class="mheading">Short term course on LabVIEW programming!!</h1>
      <h4 class="nheading">Date: 27<sup style="text-transform: lowercase;">th</sup> July'22 and 10<sup
          style="text-transform: lowercase;">th</sup> August
        '22</h4>
    </div>
    <h1 id="headline1" style="font-size:1.5rem; font-weight:800;  margin-top: 1%; color: white;"></h1>
    <h1 id="headline2" style="font-size:1.5rem; font-weight:800;  margin-top: 1%;"></h1>
    <div id="countdown">
      <ul>
        <li class="li_event"><span id="days"></span>Days</li>
        <li class="li_event"><span id="hours"></span>Hrs</li>
        <li class="li_event"><span id="minutes"></span>Mins</li>
        <li class="li_event"><span id="seconds"></span>Secs</li>
      </ul>
    </div>
    <div class="button-box" id="button-box">
      <div class="event_btn" id="pak">
        <a href="{% url 'google_form' %}" target="_blank">
          <button class="latest_btn">REGISTER</button>
        </a>
      </div>
      <!-- <div class="event_btn1">
        <a href="https://discord.gg/A2rGUCf8yF" target="_blank">
          <button class="discord"><i class="fab fa-discord"></i>DISCORD</button>
        </a>
      </div> -->
    </div>
  </div>
</div>