{% load static %}

<div class="scroll-section domain">
    <div id="content-desktop">
        <div class="container">
            <div class="row">
                <div class="col-4 col-sm-12 col-md-8 row">
                    <div class="col-md-4 col-sm-12">
                        <div class="techi">
                            <a href="{% url 'google_form' %}" target="_blank"><h3 id="text"  
                            class="btn btn-primary">Board 2022 Social Media IDs</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-desktop">
        <div class="container">
            <div class="row">
                <div class="col-4 col-sm-12 col-md-8 row">
                    <div class="col-md-4 col-sm-12">
                        <div class="techi">
                            <a href="{% url 'group_invite' %}" target="_blank"><h3 id="text"  
                            class="btn btn-primary">Discord</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>