{% load static %}

<div class="scroll-section domain" id="Domain">
<div class="modal fade hide" id="myModal">
  <div class="modal-dialog" role="document">
      <div class="modal-content green-border">
          <div class="modal-header">
              <div class="icon-container"><img class="modal-title sizze" id="exampleModalLabel" src="{% static 'images/domain/Group 136.svg' %}" alt="#" /></div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;" onclick= "RestoreScroll()"><span class="character-entity" aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div style="background-color: green;">Pass</div>
          </div>
      </div>
  </div>
</div>
</div>

<div style="background-color: green;">Pass</div>

<script type="text/javascript">
  $('#myModal').modal('show')
</script>